/* h1
{
    background-color: deeppink;
    color:blue;
    text-align:center;
}
 h1,h3,h6 
{
    background-color: indigo;
    color:white;
    text-align:center;
}

* 
{
    border:3px solid black;
} */


 